@page "/crearefisa"

@using Microsoft.EntityFrameworkCore
@using WebAppAsp.Components.DataBase
@using WebAppAsp.Components.DataBase.Models

@inject BookShelfContext DbContext
@inject NavigationManager Navigation

<h3>CreareFisa</h3>

@code {

}
