@page "/fise"
@using Microsoft.EntityFrameworkCore
@using WebAppAsp.Components.DataBase
@using WebAppAsp.Components.DataBase.Models

@inject BookShelfContext DbContext
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Fise Mentenanta</PageTitle>

<h3>Fise</h3>

<NavLink href="crearefisa" class="btn btn-primary">Creare Fisa</NavLink>

@if (fiseDeLucru == null)
{
    <p>Loading...</p>
}
else if (!fiseDeLucru.Any())
{
    <p>No records found.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fisa in fiseDeLucru)
            {
                <tr>
                    <td>@fisa.Number</td>
                    <td>@fisa.Date.ToString("dd-MM-yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <span>
        <button @onclick="createabc" type="submit">Creare Fisa</button>
    </span>   
</div>


@code {

    // A list to hold the data
    private List<FisaDeLucru> fiseDeLucru;

    // This method will run when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        // Load the data from the database asynchronously
        fiseDeLucru = await DbContext.FiseDeLucru.ToListAsync();
    }

    // Method to navigate to another page
    public void createabc()
    {      
        Console.WriteLine("dasmdaopdj");
        Navigation.NavigateTo("crearefisa", false, false);  // Correct navigation to the counter page        
    }
}
